<div class="container">
  <div class="text-center ">
    <h1>Product name :- <%= @product.name%>'s page</h1>
    <h2>Description :- <%=@product.description%></h2>
    <h2>Price :- <%= @product.price %><br></h2><br>
    <h3>Orders</h3>
    <table>
      <tr>
        <th>
          Order Quantity
        </th>
        <th>
          Total Price
        </th>
      </tr>      
      <% @product.orders.each do  |order|%>
        <tr>
          <td>
            <%= order.quantity %>
          </td>
          <td>  
            <%= total_price(order) %>
          </td>
        </tr>  
      <%end%>
    </table>  
  </div>
</div>
